/* --- put your css here --- */ 

/* external css is imported into html using the <link> tag in the <head> section, as shown below.

  <head>
    <link rel="stylesheet" href="assignment02.css">
  </head>

*/


/* --- pre-existing css --- */
.stripey tr:nth-child(even) {
  background-color: gray;
}
.stripey tr:nth-child(odd) {
  background-color: white;
}
.stripey th {
  color: white;
  background-color: black;
}
.mousey td:hover {
  background-color: yellow;
}
.rightey td {
  text-align: right;
}

input[type="text"].pinkey:focus {
  background-color: pink;
}
body { 
background-color : skyblue 
} 
#igottabeme { 
font-family :  Arial, Helvetica, sans-serif;
 margin-left: 10ppx; }

 .classy {margin left: inherit;
  margin: 50ppx;}
 
div {margin left: inherit; 
width: 100ppx;
height: 50 ppx;}

span{
 border solid;
border: 5 ppx ;
background-color: yellow;} 

span.b  {padding.top 5 ppx; 
padding.right  20 ppx;
padding.left    20 ppx;
padding.bottom   5 ppx; }
span.c

<hr id="partd" />.stripey tr:nth-child(even) {
  background-color: gray;
}
<hr id="partd" />.stripey tr:nth-child(odd) {
  background-color: white;
}
<hr id="partd" />.stripey th {
  color: white;
  background-color: black;
}
<hr id="partd" />.mousey td:hover {
  background-color: yellow;
}
<hr id="partd" />.rightey td {
  text-align: right;
}
<hr id="partd" /> input[type="text"].pinkey:focus {
  background-color: pink;
}




 